body {
  margin: 0;
}
.container {
  color: white;
  margin: 1.5rem;
  font-family: "Lexend Deca", cursive;
  
  display: flex;
  border-radius: 0.7rem;
  overflow: hidden;
}

.card h2 {
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;

  font-size: 2.5rem;
  letter-spacing: 2px;
}
.card p {
  line-height: 1.75;
  opacity: 0.7;
}
.card {
  padding: 3rem;
}

a {
  color: inherit;
  text-decoration: none;
}
.card a {
  border: 2px solid white;
  padding: 1rem 2em;
  border-radius: 2rem;
  display: inline-block;
  margin-top: 2rem;
}

.card1 {
  background-color: #e28525;
}
.card2 {
  background-color: #016972;
}
.card3 {
  background-color: #00403f;
}
@media (width< 415px) {
  .container {
    display: inline-block;
  }
}
